<div class="container mx-auto my-8 px-4">
  <div class="max-w-xl mx-auto">
    <h1 class="text-2xl font-bold mb-6">New Article</h1>

    <%= render 'form', article: @article %>

    <%= link_to 'Back', articles_path, class: "link" %>
  </div>
</div>
